html, body{
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgb(224, 235, 232);
    position: relative;
    transition: 0.3s;
}
section{
    position: relative;

}
.container{
    width:1040px;/*흠... 좁나??*/
    height: 100%;
    display: block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
h2{
    display: block;
    font-size:60px;
    color:rgb(57, 164, 136);
    padding-top:50px;
}
h4{
    margin:0;
    font-size: 23px;
}
h3{
    font-size: 15px;
}
a{
    text-decoration: none;;
}
body{
    font-family: sans-serif;
}
/*상단 메뉴바 시작*/
header{
    height: 100px;
    width: 100%;
    background:none;
    position: fixed;
    top:0;
    z-index: 1;
    transition: 0.3s;
}
.nav.on{
    background: rgba(46, 186, 154,0.6);
    height: 70px;
}
.logo{
    height: 100%;
}
.logo img{
    position: absolute;
    top: 50%;
    left:-20%;
    transform: translateY(-50%);
    height: 80%;
    width: auto;
}
.character{
    display:none;
}
.character.on{
    display: block;
}
.logo>div:first-child{
    width: 9%;
    display: inline-block;
    position: relative;
    height:100%;
}        
.logo>div:nth-child(2){
    width: 20%;
    display: inline-block;
    position: relative;
    height:100%;
}
.logo>div:last-child{
    width: 68%;
    display: inline-block;
    position: relative;
    height:100%;
}
.logo>div>h1{
    padding:0;
    margin:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color:rgb(224, 235, 232);
}
.logo>div>ul{
    width: 50%;
    padding:0;
    margin:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}
.logo li{
    width: 25%;
    left:0;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    font-size: 15px;
    color:rgb(224, 235, 232);
}
.menu li>span{
    transition:0.5s;
    cursor: pointer;
}
.menu li>span:hover{
    color:rgb(28, 133, 105)
}
/*상단 메뉴바 끝, 메인페이지 시작*/
.main_p{
    
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
}
.main_p >.main_name{
    display: inline-block;
    position: absolute;
    top: 50%;
    background: rgba(128, 128, 128, 0.6);
    height: 250px;
    width: 50%;
    font-size:55px;
    transform: translate(-50%,-35%);
    font-weight: bolder;
    box-shadow: 0 20px 50px rgba(0, 0, 0,0.5);
}
.main_name span{
    position: relative;
    color: white;
}
.main_sub{
    display: block;
    font-weight: lighter;
    font-size:20px;
}
.main_name>div>span:nth-child(2){
    color:rgb(255, 99, 99)
}
.main_name>div{
    display: inline-block;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.main_p i{
    display: block;
    height: 100%;
    width: 100%;
    color:rgb(255, 99, 99);
    cursor: pointer;
}
.main_icon{
    display: block;
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 70px;
    height: 70px;
}
.fa-angle-down{
    animation: 2.3s jump_jump infinite ease-in-out;
}
@keyframes jump_jump{
    0%{
        transform: none; 
    }
    50%{
        transform:translateY(-100px);
    }
    60%{
        transform: none;
    }
    65%{
        transform:translateY(-30px);
    }
    75%{
        transform: none;
    }
}
.main_p>img{
    display: block;
    height: auto;                
    width: 100%;
    opacity: 1;
    -webkit-filter: grayscale(100%);
    filter: lightgray;
}
.main_back.img_long{ /*메인페이지 크기 조절용*/
    height: 100%;                
    width: auto;
}/*메인페이지 끝*/
/*소개페이지 시작, 텝메뉴 시작*/
#about>div>div>table{
    position: absolute;
    right:-10%;
    top:20%;
}
#about>div>div>table td{
    position: relative;
    display: block;
    width: 300px;
    height: 80px;
    font-size: 40px;
    cursor: pointer;
}
#about td>span{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s;
}
#about td>span:hover{
    color:rgb(28, 133, 105)
}/*텝메뉴 끝*/

#about{
    width:100%;
}
.wrap{
    display: block;
    height: 78vh;
    width: 100%;
    position: relative;
}
.id_card{
    display: none;
    width: 80%;
    height: 60%;
    position: absolute;
    top: 10%;
    color:black;
}
.id_card img{
    width: 15%;
    display: inline-block;
    position: absolute;
    left: 10%;
    top:55%;
}
.id_card>div{
    padding-right: 40px;
    display: inline-block;
    position: absolute;
    font-size: 18px;
    width: 66%;
    right: 0;
    top: 20;
    text-align-last: left;
}
.id_card h1{
    font-size: 50px;
}
.id_card.active{
    display: block;
}
.tap_menu.m_active{
    color:rgb(28, 133, 105);
}
.id_card div{
    display : block;
    padding-top:0.5em;
}
.id_card.active>table{
    height: 60%;
    position: absolute;
    width: 70%;
    top:42%;
    right:5%;
    padding-top:30px;
}
.id_card.active>table td{
    display: inline-block;
    height: 100%;
    width: 45%;
    text-align: left;
}
.id_card.active>table td:first-child{
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: left;            
    font-weight: bold;
}
.skill{
    padding:0;
    left:10%;
}
.skill li{
    list-style: none;
    margin:10px 0;
}
.skill .bar{
    background: #353b48;
    display: block;
    width: 90%;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
}
.bar span{
    float: left;
    height:2px;
    background: rgb(252, 152, 152);
}
.html.active{
    width:90%;
    animation: html 1.5s;
}
.css.active{
     width:85%;
    animation: css 1.5s;
}
.javascript.active{
    width:90%;
    animation: javascript 1.5s;
}
.react.active{
    width:80%;
    animation: react 1.5s;
}
.algo.active{
    width:85%;
    animation: algo 1.5s;
}
@keyframes html{
    0%{
        width:0;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width:0;
    }
    100%{
        width:85%;
    }
}
@keyframes javascript{
    0%{
        width:0;
    }
    100%{
        width:90%;
    }
}
@keyframes react{
    0%{
        width:0;
    }
    100%{
        width:80%;
    }
}
@keyframes algo{
    0%{
        width:0;
    }
    100%{
        width:85%;
    }
}
.id_card .history{
    width: 80%;
    text-align: left;
}
.id_card .history ul{
    list-style: none;
}
.id_card .history li{
    margin-bottom: 5px;
}

/*about 메뉴 끝*/
/*portfolio 시작*/
#portfolio{
    background:white;
}
#portfolio td{
    display: inline-block;
    position: relative;
    background: rgb(224, 235, 232);
    margin-left: 30px;
    margin-bottom: 30px;
    width: 230px;
    height: 320px;
    box-shadow: rgba(211,211,211,0.75) 5px 5px;
}
#portfolio table{
    padding:0;
    font-size:20px;
    text-align: center;
    display: inline-block;
    left :50%;
    margin-bottom:50px;
}
#portfolio td:first-child{
    margin-left:0;
}
#portfolio .preview{
    position: relative;
    display: block;
    width: 230px;
    height: 170px;
}
#portfolio picture{width: 100%; height: 170px; overflow: hidden;}
#portfolio img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
#portfolio span,a{
    margin-top: 5px;
    display: block;
    font-size: 15px;
    color:black;
}
#responsible img{
    height: 100%;
    width : 100%;
}
/*포트폴리오 끝*/
/*연락메뉴 시작*/
#contact{
    padding-bottom: 100px;
    width: 100%;
    display: block;
    bottom:60px;
    text-align: center ;
    font-size: 25px;
}
#contact a{
    color:black;
}
#contact span{
    display: block;
    padding-bottom:10px;
}
/*연락메뉴 끝*/
/*푸터메뉴 시작*/
footer{
    background: rgb(46, 186, 154);
    position: absolute;
    height: 60px;
    width:100%;
    bottom: 0%;
    left:0%;
}
footer span{
    color:white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
footer a{
    display: inline;
    color: white;
}/*푸터 끝*/
